
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.local/
MultiSelectTreeView/Nuget/lib/*

!tools/*
!MultiSelectTreeView/tools/*

.idea/
.vs/MultiSelectTreeView/v15/Server/sqlite3/storage.ide-wal
.vs/MultiSelectTreeView/v15/Server/sqlite3/storage.ide-shm
.vs/MultiSelectTreeView/v15/Server/sqlite3/storage.ide
.vs/MultiSelectTreeView/v15/Server/sqlite3/db.lock
/packages/
/.vs/
